.todosPage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 30px;
}

.logout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.titlentodosnlogout {
  width: 700px;
  height: 700px;
  background-color: lightpink;
  padding: 20px;
  border-radius: 10px;
}

.todo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  /* padding: 10px; */
}

.todo li {
  list-style: none;
  background-color: crimson;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 3px;
}

.todo button {
  border: none;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.todo input {
  padding: 10px;
  border-radius: 5px;
  font-size: large;
  margin: 3px;
}

.formnlogout {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

.formnlogout input {
  padding: 20px;
  border-radius: 10px;
  font-size: large;
  margin: 5px;
}

.formnlogout button {
  padding: 20px;
  border-radius: 10px;
  font-size: large;
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 700px;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 10px 10px 5px #888888;
}

.inputnupdate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.inputnupdate button {
  width: 25%;
  background-color: seagreen;
  color: white;
  padding: 18px;
  border-radius: 20px;
  font-size: larger;
}

.modal input {
  width: 70%;
  border-radius: 20px;
  padding: 15px;
}

.modal h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.close {
  padding: 18px;
  font-size: larger;
}
